@media screen and (min-width: 1366px) {
    /* portfolio piece top */
    .portfolio-piece-1{
        width: 480px;
    }

}
/* about me */

/* cv and fact */

@media screen and (max-width: 1366px) {
    /* cv and fact */
    .cv-content{
        width: 100%;
        margin-bottom: 0;
    }
    .cv-and-fact-container{
        grid-template-areas:
        "cv"
        "fact";
        width: auto;
    }
    .fact-wrapper{
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 980px ){
    /* portfolio piece top */
    .portfolio-piece-1{
    width: 360px;
}
    .portfolio-piece-container{
        grid-template-areas: none;
    }

    /* about me */
    .about-me-intro{
        width: 60%;
        padding: 2rem;
        font-size: 0.8rem;
    }
    .about-me-skills{
        width: 80%;
        border-radius: 1rem;
        display: flex;
        flex-wrap: wrap;


    }
    .about-me-skill-example{
        font-size: 0.8rem;
        width: 50%

    }
    .fact-container{
        width: 100%
    }

    /* cv and facts */
    .fact-list-items{
        grid-template-columns: 1fr 1fr;
        font-size: 0.8rem;
    }
    .fact-wrapper{
        width: 90%;
    }
    /* cv and facts */
    .cv-and-fact-container{
        display: flex;
        flex-direction: column;
    }

    /* cv*/
    .cv-content{
        width: 100%;
    }
    .cv-wrapper{
        width:100%;
    }
}



@media screen and (max-width: 380px){
    /* portfolio piece top */

    .portfolio-piece-1{
        width: 240px;
        font-size: 0.8rem;
    }

    /*  SoME links */
    .SoMe-container{
        gap: 10%;
    }
}