:root{
    --dark-purple: #190E1C;
    --light-purple: #C069D6;
    --teal: #17B890;


    --white: #FFFFFF;
    --off-white: #D9D9D9;
    --light-grey: #555555;
    --grey: #3F3F3F;
    --dark-grey: #383838;
    --black-grey: #1E1E1E;
}

body{
    background-color: var(--black-grey);
    letter-spacing: 1px;
    background-image:url("../img/batthern.png");
}
*{
    color: #FFFFFF;
    font-family: "Orbitron", "sans-serif";
    margin: 0;
    padding: 0;
    text-decoration: none;

}
h1{
    font-size: 54px;
    font-weight: normal;
}
a{
    color: var(--teal)
}
header{
    display: grid;
    grid-template-areas: "back-button header-title .";
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
}
#header-title{
    padding: 0 4rem;
    grid-area: header-title;
    width: 100%;
    cursor: default;
}
#back-button{
    grid-area: back-button;
    text-align: center;
    width: 100px;
}
#return-button{
    background-color: transparent;
    border-style: hidden;
    font-size: 4rem;
    cursor: pointer;
}
#gap-fill{
    width: 100px;
}

.intro-text{
    text-align: center;
    margin: auto;
    width: 70%;
    line-height: 2rem;
}
.intro-text h2{
    padding-bottom: 1rem;
}
.intro-text p{
    text-align: start;
}

.descriptive-text{
    text-align: left;
    margin: 2rem auto;
    width: 70%;
    line-height: 2rem;
}


/* image box */
.image-container{
    background-color: var(--black-grey);
    background-image: url("img/gplay.png");
    border-style: solid;
    border-width: 2px;
    border-color: var(--white);
    border-radius: 1rem;
    width: 70%;
    height: auto;
    margin: 2rem auto;
    overflow: hidden;
    padding: 2% 0;
    justify-content: center;
    align-items: center;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-color: var(--white);
    border-style: dashed;
    border-width: 2px 0;
}
.image-container-tall{
    width: 40%;
}
.image-container video{
    object-fit: cover;
    border-color: var(--white);
    border-style: dashed;
    border-width: 2px 0;
    width: 100%;
    height: 100%
}

/* footer */
.marquee-footer{
    background-image:url("../img/gplay.png");
}

.footer{
    border-top-style: solid;
    border-width: 2px;
    border-color: var(--white);
    background-image: linear-gradient(var(--teal), var(--light-purple));

}
.footer-text{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
}
footer h1, h2{
    font-weight: normal;
    color: var(--white);
    text-shadow: 1px 2px 4px var(--black-grey);
}
