:root{
    --dark-purple: #190E1C;
    --light-purple: #C069D6;

    --white: #FFFFFF;
    --off-white: #D9D9D9;
    --light-grey: #555555;
    --grey: #3F3F3F;
    --dark-grey: #383838;
    --black-grey: #1E1E1E;
}

body{
    background-color: var(--grey);
}
*{
    color: #FFFFFF;
    font-family: "Orbitron";
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1{
    font-size: 54px;
}

/* first part of portfolio */
.portfolio-container{
    width: 80%;
    height: auto;
    background-color: var(--dark-purple);
    margin:auto;
    overflow: hidden;
}

.header{
    text-align: center;
    width: 264px;
    margin: auto;
    height: auto;
}
.header h1{
    padding-top: 64px;
    font-weight: normal;
}
/*.pillar{*/
/*    width: 264px;*/
/*    height: 600px;*/
/*    background-color: var(--light-grey);*/
/*left: 50%*/
/*    position: absolute;*/
/*    transform:  translate(-50%, -50%);}*/

.portfolio-piece-container{
    margin: 64px auto;
    display: grid;
    grid-template-areas:
            "area1 area2"
            "area3 area4";
    width: 100%;
    height: 100%;

    justify-content: center;
}
.UI-webdev{
    grid-area: area1;
}
.UI-webdev h3{
    position: relative;
    left: 16px;
}
.threedee{
    grid-area: area2;
}
.threedee h3{
    position: relative;
    right: 16px;
    text-align: right;
}
.graphic-design{
    grid-area: area3;
}
.graphic-design h3{
    position: relative;
    left: 16px;
}
.concept-art{
    grid-area: area4;
}
.concept-art h3{
    position: relative;
    right: 16px;
    text-align: right;
}
.portfolio-piece-1{
    width: 528px;
    height: 128px;
    background-color: var(--light-grey);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--white);
    padding: 4px;
    margin: 16px;
    text-align: right;
}
.portfolio-wrapper{
    padding-top: 16px;
}
.portfolio-piece-1 p{
    position: relative;
    top: 80%;
 }

/* about me */

.about-me-container{
    width: 100%;
    height: auto;
    background-color: var(--dark-grey);
    border-color: var(--white);
    border-style: solid none solid none;
    border-width: 2px;
}
.about-me-wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
}
.about-me-intro{
    width: 60%;
    height: auto;
    background-color: var(--light-grey);
    margin:  4rem auto 0 auto;
    text-align: center;
    justify-content: center;
    padding: 4rem;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none solid;
    border-color: var(--white);
    border-width: 2px;
}

.about-me-skills{
    margin:  0 auto 4rem auto;
    width: 80%;
    height: auto;
    background-color: var(--black-grey);
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--white);
    display: flex;
    justify-content: stretch;
    gap: 4rem;
    padding: 4rem 2rem;
}
.about-me-image{
    display: flex;
    background-color: #555555;
    height: 256px;
    width: 256px;
    object-fit: cover;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
.about-me-skill-example{
    line-height: 2rem;
    width: 100%
}
.about-me-skill-example h3{
    padding-bottom: 1rem;
}

/* cv */

.cv-container{
    width: 80%;
    height: 100%;
    background-color: var(--dark-purple);
    margin: auto;
}
.cv-wrapper{
    margin:  0 auto;
    padding: 8rem 0;
    width: 80%;
    height: auto;
}
.cv-wrapper h2{
    padding-bottom: 1rem;
}
.cv-content{
    width: 100%;
    height: 768px;
    background-color: var(--light-grey);
    margin: auto;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--white);
}
 /* facts */

.fact-container{
    background-color: var(--dark-grey);
    width: 100%;
    height: auto;
    border-style: solid none;
    border-color: var(--white);
    border-width: 2px;
}
.fact-wrapper{
    margin: auto;
    width: 80%;
    padding: 4rem 0;
}
.fact-list{
    width: 40%;
    height: auto;
    background-color: #3F3F3F;
    padding: 4rem 30%;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: var(--white);
    border-width: 2px;
    border-radius: 4px;
    background-color: var(--black-grey);
}
.fact-list-items{
    line-height: 2rem;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-purple);
    padding: 4rem 8rem;
}
footer h1, h2{
    font-weight: normal;
}
